.container {
  background: #0f1014;
  height: max-content;
  width: 100%;
  max-width: 20rem;
  position: relative;
  border-radius: 20px;
  padding: 10px 10px 9px 15px;
  border: 2px solid #1c1c1e;
}

.title {
  font-family: "poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.apply {
  background: linear-gradient(174deg, #d5a687, #e79a69);
  width: 100%;
  height: 40px;
  border: 2px solid #efac87;
  margin-top: 10px;
  border-radius: 10px;
  color: black;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
