.container {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recentReleaseContainer {
  max-width: 90rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-family: "poppins", sans-serif;
  line-height: 33px;
  font-size: 30px;
  font-weight: 600;
  background: -webkit-linear-gradient(#eee, #444);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards {
  margin-top: 26px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 94%;
}

@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 530px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
}

/* pagi */

.pagitation {
  display: flex;
  width: 94%;
  justify-content: flex-end;
  gap: 0.5rem;
}

.pagitation button {
  display: flex;
  padding: 9px;
  font-size: 18px;
  border-radius: 50px;
  transition: 0.5s;
  background: #070709;
  border: 2px solid #9f9e9e85;
  color: #bbbbbb;
  cursor: pointer;
}
.pagitation button:hover,
.pagitation button.active {
  border: 2px solid #daa28185;
}

.showMoreBtn {
  margin-top: 20px;
  width: 94%;
  max-width: 30rem;
  margin-inline: 30px;
  padding: 9px 15px;
  font-size: 16px;
  border-radius: 50px;
  transition: 0.5s;
  background: #0a0a0d;
  font-family: "poppins", sans-serif;
  border: 2px solid #2e3138;
  color: #bbbbbb;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.showMoreBtn:hover,
.showMoreBtn:focus {
  background: #252529;
}
