.container {
  max-width: 80rem;
  width: -webkit-fill-available;
  min-width: 369px;
  height: 25rem;
  background: #0c0d10;
  position: relative;
  border: 2px solid #141416;
  border-radius: 20px;
  overflow: hidden;
}

.container::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  width: 4px;
  border-radius: 50%;
  height: 173px;
  background: linear-gradient(50deg, transparent, #3d3d3d, transparent);
  transition: 0.5s;
  z-index: 6;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  height: 4px;
  border-radius: 50%;
  width: 173px;
  background: linear-gradient(50deg, transparent, #3d3d3d, transparent);
  transition: 0.5s;
  z-index: 6;
}

.container:hover::after {
  top: 5rem;
}

.container:hover::before {
  left: 5rem;
}

.bannerImage {
  position: absolute;
  width: 1000px;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  right: 0;
  top: 0;
  /* transform: scaleX(-1); */
  overflow: hidden;
}

.bannerImage img {
  object-fit: cover;
}

.bannerImage::before,
.bannerImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48rem;
  height: 100%;
  background: linear-gradient(
    90deg,
    #0c0d10,
    #0c0d10a1,
    #0c0d1000,
    transparent
  );
}

@media screen and (max-width: 850px) {
  .bannerImage img {
    object-position: 100% 50%;
  }
}

@media screen and (max-width: 530px) {
  .bannerImage::before,
  .bannerImage::after {
    left: 29rem;
  }
  .bannerImage img {
    object-position: 30rem;
  }
}
