.container {
  width: max-content;
  position: absolute;
  top: 5.2rem;
  left: 1rem;
  border: 2px solid #151517;
  padding: 10px;
  border-radius: 26px;
  overflow: hidden;
}

@media screen and (min-width: 1080px) {
  .container {
    display: none;
  }
}
