.input {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  max-width: 30rem;
  border: 2px solid #2d3138;
  padding: 5px 12px;
  border-radius: 30px;
  margin-top: 10px;
  border-width: 2px 1px 1px 3px;
}

.input svg {
  height: 26px;
  width: 19px;
}

.input:nth-child(3) svg,
.input:nth-child(4) svg {
  height: 26px;
  width: 14px;
}

.input input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  color: #dbdcde;
}

input[type="submit"] {
  background: linear-gradient(174deg, #d5a687, #e79a69);
  border: 2px solid #efac87;
  padding: 10px 15px;
  color: black;
  font-family: "poppins", sans-serif;
  border-radius: 35px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  max-width: 30rem;
  margin-top: 12px;
  font-size: 15px;
}
@media screen and (max-width: 990px) {
  .input,
  input[type="submit"] {
    max-width: 100% !important;
  }
}
