.container {
  display: flex;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left button {
  background: linear-gradient(174deg, #d5a687, #e79a69);
  outline: none;
  border: 2px solid #efac87;
  padding: 10px 15px;
  color: black;
  gap: 5px;
  font-family: "poppins", sans-serif;
  text-align: center;
  border-radius: 35px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.left img {
  object-fit: cover;
  border-radius: 14px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #eeefef;
  font-size: 16px;
  font-weight: 500;
}

.pagination span {
  display: flex;
  align-items: center;
  gap: 2px;
}

.pagination svg {
  font-size: medium;
}

.pagination a svg {
  fill: #e49a70 !important;
  font-size: 18px;
}

.pagination a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination a:last-child {
  color: #7c8394;
}

.pagination a:last-child svg {
  fill: #7c8394 !important;
  font-size: medium;
}

.title {
  font-size: 34px;
  font-weight: 700;
  background: -webkit-linear-gradient(#dcdcde, #5a5a5a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.options {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.bookmark {
  display: flex;
  padding: 10px;
  font-size: 14px;
  border-radius: 50px;
  transition: 0.5s;
  background: #1b1b1c;
  border: 2px solid #2e3138;
  color: #ffffff;
  cursor: pointer;
}

.genres {
  display: flex;
  gap: 10px;
}

.genres a {
  text-decoration: none;
  background: #070709;
  border: 2px solid #23252b;
  border-radius: 50px;
  padding: 8px 18px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #bbbbbb;
  cursor: pointer;
  transition: 0.4s;
}

.genres a:hover {
  background: #141418;
}

.description {
  color: #8991a3;
  margin-top: 24px;
  max-width: 1000px;
}

.description span:first-child {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  line-height: 26px;
}

/* .description span:last-child {
  color: #7d91c0;
  cursor: pointer;
  font-weight: 600; */
/* } */
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 100%;
    align-items: center;
  }

  .title,
  .description {
    text-align: center;
  }

  .pagination,
  .options {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .options,
  .options .genres {
    flex-wrap: wrap;
    justify-content: center;
  }
}
