.identifier {
  display: flex;
  padding: 1rem 20px;
  margin-top: 2rem;
  border-radius: 16px;
  border: 2px solid #353841;
  gap: 1rem;
  align-items: center;
  background: linear-gradient(90deg, #d8a2835e, #00000000, #0c0d1000);
  position: relative;
  overflow: hidden;
}

.identifier::after {
  content: "";
  width: 3px;
  border-radius: 50px;
  height: 30px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: linear-gradient(180deg, #d5a487, #e49a6f);
}

.identifier svg {
  height: 18px;
  width: 18px;
  fill: #e49a6f;
}

.searchEp {
  width: 100%;
  background: #070709;
  height: 56px;
  margin-top: 0.5rem;
  border: 2px solid #353841;
  border-radius: 16px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.searchEp input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
  font-family: "poppins", sans-serif;
}

.searchEp svg {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  fill: rgb(223, 223, 223);
}

.episodes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 4fr));
  gap: 1rem;
  margin-top: 1rem;
  max-height: 34rem;
  scrollbar-width: thin;
  scrollbar-color: #d9a383 #0e0f13;
  padding-right: 6px;
  overflow-y: scroll;
}

.episode {
  text-decoration: none;
  color: inherit;
  background: #0f1014;
  padding: 20px;
  height: max-content;
  border-radius: 10px;
  border: 2px solid #25282f;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-family: "poppins", sans-serif;
  cursor: pointer;
}

.episode:hover {
  background: #191b21;
}

.episode span:first-child {
  font-size: 17px;
  font-weight: 500;
}
.episode span:last-child {
  font-size: 14px;
  color: #6d7483;
}

.loadingepisode {
  background: #0f0f13;
  margin-top: 1rem;
  border-radius: 14px;
  width: 100%;
  height: 34rem;
  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
    background: #0f0f13;
  }
  50% {
    background: rgb(32, 32, 37);
  }
  100% {
    background: #0f0f13;
  }
}

.watched {
  background: #19191c;
  border: 2px solid #d3885d19;
}
