.container {
  display: flex;
  width: -webkit-fill-available;
  position: relative;
  top: -6rem;
  margin-inline: 150px;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* align-items: end; */
}
.right {
  width: 100%;
  max-width: 360px;
  margin-left: 2rem;
  position: relative;
}

@media screen and (max-width: 1050px) {
  .container {
    margin-inline: 20px;
  }
}

@media screen and (max-width: 780px) {
  .right {
    flex-direction: column;
  }
}

@media screen and (max-width: 1450px) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }

  .right {
    max-width: 98rem;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 3rem;
    gap: 0.5rem;
  }
}
