.container {
  display: flex;
  width: -webkit-fill-available;
  position: relative;
  top: -6rem;
  margin-inline: 150px;
  justify-content: center;
}
.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* align-items: end; */
}
.right {
  width: 100%;
  max-width: 360px;
  margin-left: 2rem;
  position: relative;
}
