.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid #28282e;
  padding: 10px 0px;
}

.options {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 8px;
}

.options span {
  letter-spacing: -4px;
  color: #2d2d39;
}

.options input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #1f1f23;
  background: #0a0a0d;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  outline: none;
  width: 100%;
}

.options input:focus {
  border: 2px solid #333741;
}
